@mixin smartphone {
  @media screen and (max-width: 667px), (-webkit-min-device-pixel-ratio: 3), (-webkit-device-pixel-ratio: 3), (-webkit-device-pixel-ratio: 4) { @content; }
}
@mixin smartphone-landscape {
  @media screen and (min-width: 480px) and (max-width: 667px) { @content; }
}
@mixin tablet {
  @media screen and (min-width: 668px) and (max-width: 960px) { @content; }
}
@mixin tablet-and-desktop {
  @media screen and (min-width: 668px) { @content; }
}
@mixin desktop {
  @media screen and (min-width: 960px) { @content; }
}

@mixin line-hover($color, $thickness) {
  position: relative;
  &:hover:after{
    transform: scaleX(1);
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: $thickness;
    width: 100%;
    background: $color;
    transform: scaleX(0);
    transform-origin: bottom left 0;
    transition: transform 150ms ease-out;
  }
}

@mixin page-width() {
  margin: 0 auto;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 100%;
  max-width: $page-width;
  &.small {
    max-width: 82rem;
  }
  @include smartphone {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.page-width {
  @include page-width;
}

