// fonts
$body-font-family:        'Futura', sans-serif;
$heading-font-family:     'Playfair-Display', sans-serif;
$emphasis-font-family:    'Mighty-River', serif;
$number-font:             'Pistilli', serif;

// colors
$body-font-color:         #000000;
$body-background:         #F9F9F9;
$section-color:           #F3F2F0;
$services-color-quote:    #F3B088;

// layout
$page-width:              96rem;
