body.category {

  .category-header {
    padding-top: 16rem;
  }


  section#content .page-width {

    > article {
      display: flex;
      margin: 2rem 0;

      figure {
        margin-right: 3rem;

        img {
          width: 100%;
          height: auto;
        }
      }

      h3 {
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
