section.homepage-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  min-height: 75rem;
  @include smartphone {
    display: block;
    height: auto;
    min-height: 0;
    padding-top: 10rem;
  }

  .vertical-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 8rem auto 10rem;
    @include smartphone {
      display: block;
      margin: 0;
      overflow: hidden;
      width: 100%;
    }

    div.content {
      position: relative;
      z-index: 5;
      max-width: 45%;
      margin-right: 4rem;
      padding-top: 5rem;
      @include smartphone {
        padding: 0;
        width: 100%;
        max-width: 100%;

        h1 {
          width: 100%;
        }

        p {
          width: 100%;
        }
      }

      h1 {
        width: 140%;
      }
    }

    figure {
      position: relative;
      flex-basis: 44rem;
      align-self: flex-start;
      @include smartphone {
        position: absolute;
        top: 10%;
        right: -25%;
        width: 75%;
      }

      img {
        width: calc(100% - 4rem);
      }

      .vertical-title {
        position: absolute;
        right: -32rem;
        bottom: -1.7rem;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        float: left;
        font-size: 1.4rem;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        @include smartphone {
          display: none;
        }
      }
    }
  }
}

section.homepage-services {
  min-height: 100vh;
  @include smartphone {
    min-height: 0;
  }

  section.homepage-services-introduction {
    position: relative;
    padding-top: 12rem;
    padding-bottom: 12rem;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      background: $snow;
      top: 16rem;
      right: 0;
      left: 40%;
      bottom: -30%;
    }

    > div {
      position: relative;
      z-index: 2;

      p {
        text-align: justify;
      }
    }
  }

  article.homepage-service {
    display: flex;
    justify-content: center;
    padding: 5rem 0 10rem;
    &.branding {
      .content {
        margin-top: 10rem;
        margin-left: 20%;
      }
    }
    &.digital-design {
      .content {
        margin-right: 10rem;
        order: 2;
      }

      figure {
        margin-top: 10rem;
      }
    }
    &.content-social-media {
      .content {
        max-width: 44rem;
      }
    }

    .content {
      position: relative;
      z-index: 2;
      margin: 0 2rem 0;
      max-width: 35rem;

      h3 {
        margin-bottom: 3.5rem;
      }

      p {
        text-align: justify;
      }
    }

    figure {
      position: relative;
      z-index: 1;
      margin: 0 2rem 0;
      width: 100%;
      max-width: 53rem;
      min-height: 38rem;
      background: $snow;
    }
  }
}

section.homepage-portfolio {
  padding: 3rem;
  text-align: center;

  section.colored {
    padding: 8rem 0 4rem;
    background-color: $snow;
    text-align: left;
  }

  article.homepage-portfolio-item {
    margin: 5rem auto;
    width: calc(100% - 24rem);

    figure {
      margin: 0 0 2rem;
      height: 70vh;
      background: darken($snow, 5);
    }

    h4 {
      margin: 3rem 0 0;
    }
  }

  > a {
    margin: 5rem auto 3rem;
  }
}
