section.homepage-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5rem);
  overflow: hidden;
  @include smartphone {
    display: block;
    height: auto;
    min-height: 0;
    padding-top: 10rem;
  }

  .vertical-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 12rem auto;
    @include smartphone {
      display: block;
      margin: 0 0 5rem;
      overflow: hidden;
      width: 100%;
    }

    div.content {
      position: relative;
      z-index: 5;
      max-width: 44%;
      margin-right: 7%;
      padding-top: 5rem;
      @include smartphone {
        padding: 0;
        width: 100%;
        max-width: 100%;

        p {
          width: 100%;
        }
      }

      h1 {
        font-size: 5rem;
        line-height: 5.3rem;
        letter-spacing: -0.1rem;
        width: 140%;
        @include smartphone {
          margin-bottom: 85%;
          width: 100%;
        }
        @include smartphone-landscape {
          margin-bottom: 40%;
        }
      }
    }

    figure {
      position: relative;
      flex-basis: 44rem;
      align-self: flex-end;
      @include smartphone {
        position: absolute;
        top: 23%;
        height: 37%;
        left: 30%;
      }
      @include smartphone-landscape {
        top: 20%;
      }
      @include tablet {
        align-self: center;
        text-align: right;
        margin-right: -10rem;
      }

      img {
        width: calc(100% - 4rem);
        height: 100%;
        object-fit: cover;
        object-position: 50% 25%;
      }

      .vertical-title {
        position: absolute;
        right: -32rem;
        bottom: -1.7rem;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        float: left;
        font-size: 1.4rem;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        @include smartphone {
          display: none;
        }
        @include tablet {
          display: none;
        }
      }
    }
  }
}

section.homepage-portfolio {
  padding: 3rem;
  text-align: center;
  @include smartphone {
    padding-top: 4rem;
  }

  .page-width {
    @include smartphone {
      padding: 0;
    }
  }

  h3 {
    margin-top: 3rem;
    text-align: left;
    @include smartphone {
      margin-top: 0;
    }
  }

  article.homepage-portfolio-item {
    margin: 5rem auto;
    text-align: left;
    @include smartphone {
      margin: 3rem auto;
      width: 100%;
    }

    figure {
      margin: 0 auto 2rem;
      height: 30rem;
      max-width: 128rem;
      background: darken($snow, 5);
      @include tablet-and-desktop {
        height: 70vh;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h4 {
      margin: 3rem 0 0.5rem;
    }
  }

  > a {
    margin: 3rem auto;
  }
}
