section.homepage-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  min-height: 75rem;
  @include smartphone {
    display: block;
    height: auto;
    min-height: 0;
    padding-top: 10rem;
  }

  .vertical-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 8rem auto 10rem;
    @include smartphone {
      display: block;
      margin: 0;
      overflow: hidden;
      width: 100%;
    }

    div.content {
      position: relative;
      z-index: 5;
      max-width: 45%;
      margin-right: 4rem;
      padding-top: 5rem;
      @include smartphone {
        padding: 0;
        width: 100%;
        max-width: 100%;

        h1 {
          width: 100%;
        }

        p {
          width: 100%;
        }
      }

      h1 {
        width: 140%;
      }
    }

    figure {
      position: relative;
      flex-basis: 44rem;
      align-self: flex-start;
      @include smartphone {
        position: absolute;
        top: 10%;
        right: -25%;
        width: 75%;
      }

      img {
        width: calc(100% - 4rem);
      }

      .vertical-title {
        position: absolute;
        right: -32rem;
        bottom: -1.7rem;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        float: left;
        font-size: 1.4rem;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        @include smartphone {
          display: none;
        }
      }
    }
  }
}

section.homepage-services {
  min-height: 100vh;
  @include smartphone {
    min-height: 0;
  }

  section.homepage-services-introduction {
    padding-top: 7rem;
    padding-bottom: 12rem;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    min-height: 38rem;
    @include smartphone {
      margin-top: 2rem;
      height: auto;
      min-height: 0;
    }
  }
  section.homepage-services-blocks {
    padding-bottom: 12rem;

    div.services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -8rem;

      div.service {
        flex-basis: 45%;
        min-width: 30rem;

        figure {
          margin-bottom: 3rem;
          height: 22rem;
          background: #ddd;
        }
      }
    }
  }
}

section.homepage-portfolio {
  padding: 3rem;

  section.colored {
    padding: 8rem 0;
    background-color: #F3F2F0;
  }

  article.homepage-portfolio-item {
    margin: 5rem auto;
    width: calc(100% - 24rem);

    figure {
      margin: 0 0 2rem;
      height: 70vh;
      background: darken($section-color, 5);
    }

    h4 {
      margin: 5rem 0 0;
    }
  }
}
