section.full-size-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  height: 90vh;
  background: #666 url("images/over-mij.jpg") no-repeat;
  background-size: cover;
  background-position: 32%;

  h1 {
    @include page-width;
    margin-bottom: 10rem;
    color: white;
  }
}

section.history {
  padding: 10rem 0;
  @include smartphone {
    padding-bottom: 0;
  }
  .history-item {
    position: relative;
    margin-bottom: 5rem;
    @include tablet-and-desktop {
      display: flex;
      justify-content: center;
      margin-bottom: 10rem;
    }
    &:before,
    &:after{
      content: "";
      display: block;
      flex-shrink: 100;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.history-item-2:before { width: 10%; }
    &.history-item-2:after { width: 30%; }
    &.history-item-3:before { width: 25%; }
    &.history-item-3:after { width: 15%; }
    &.history-item-5:before { width: 10%; }
    &.history-item-5:after { width: 30%; }
    &.history-item-6:before { width: 30%; }
    &.history-item-6:after { width: 10%; }

    header,
    div.content {
      position: relative;
      z-index: 2;
    }

    header {
      text-align: right;
      margin-right: 3rem;
      margin-left: 3rem;
      @include tablet-and-desktop {
        width: 34rem;
      }

      .number {
        margin-bottom: 2rem;
        font-size: 15rem;
        font-family: $number-font;
        font-weight: normal;
        letter-spacing: -1.5rem;
        line-height: 16.5rem;
      }

      em {
        font-size: 4rem;
        line-height: 4rem;
      }
    }

    div.content {
      margin-top: 3rem;
      max-width: 48rem;
      @include tablet-and-desktop {
        margin-right: 3rem;
        margin-left: 3rem;
      }

      p {
        text-align: justify;
        @include smartphone {
          margin-right: 3rem;
          margin-left: 3rem;
        }
      }

      p:last-of-type {
        margin-bottom: 5rem;
      }

      figure {
        width: 100%;
        height: 30rem;
        background: #ddd;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .award {
    header {
      align-self: flex-start;
      padding: 3rem 3rem 3rem 6rem;
      margin: 0;
      background: black;
      color: white;
      text-align: left;
      @include tablet-and-desktop {
        padding: 5rem 5rem 5rem 10rem;
        margin: 0 3rem;
        width: 50rem;
      }

      .number {
        margin-left: -5rem;
      }
    }
    div.content {
      margin: 0;
      max-width: 40rem;
      height: 32rem;
      @include tablet-and-desktop {
        width: 100%;
        margin: 28rem 3rem 0;
      }
      figure {
        width: 100%;
        height: 100%;
      }
    }
  }
}
