article#services {

  section.services {
    background: $section-color;

    article.service {
      position: relative;
      display: flex;
      justify-content: center;

      header,
      div.content {
        position: relative;
        z-index: 2;
        margin-right: 3rem;
        margin-left: 3rem;
      }

      header {
        width: 66rem;

        h2 {
          margin-bottom: 4rem;
          font-size: 10rem;
          font-weight: 900;
          letter-spacing: -0.2rem;
          line-height: 8.2rem;

          span {
            font-size: 8rem;
          }
        }

        em {
          display: block;
          margin-bottom: 6rem;
          font-family: $emphasis-font-family;
          font-size: 4rem;
        }

        figure {
          display: inline-block;
          width: 100%;
          max-width: 50rem;
          height: 30rem;
          background: #ddd;

          img {
            width: 100%;
          }
        }
      }

      div.content {
        margin-top: 10.5rem;
        max-width: 44rem;

        a.button {
          margin-top: 1.5rem;
        }
      }
    }
    article.service-branding {
      padding: 12rem 0 6rem;
      &:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 15%;
        background: #F3F2F0;
        width: 30%;
        height: 50%;
        z-index: 1;
      }

      header {
        text-align: right;
      }
    }
    article.service-artdirection {
      padding: 6rem 0 16rem;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 28.5%;
        background: #F3F2F0;
        width: 35%;
        height: 40%;
        z-index: 1;
      }

      header {
        order: 2;
      }

      div.content {
        text-align: right;
      }
    }
  }
}
