section.services-introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10% 2rem;
  height: 40vh;
  min-height: 23rem;
  @include smartphone-landscape {
    min-height: 20rem;
    padding: 10% 2rem 5%;
  }
  @include desktop {
    padding: 10rem 2rem;
    min-height: 43rem;
  }
  h1 {
    @include page-width;
  }
}
