.entry-content {

  img.size-full {
    display: block;

    &.alignnone {
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
    }

    &.aligncenter {
      margin: 0 auto;
      padding: 5rem 6rem;
      max-height: 100vh;
      height: auto;
      width: auto;
      max-width: 100%;
    }
    &.aligncenter + img.aligncenter {
      padding: 0 12rem 10rem;
    }
  }
}
