footer.main-footer {
  padding: 6rem 6rem 3rem 6rem;
  background: white;

  .page-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 108rem;

    section {
      flex-grow: 1;
    }
  }

  figure.logo {
    transform: scale(0.85);
  }

  div.menu-social {
    margin: 3rem 0 3rem 0;
    text-align: center;
  }

  section.footer-menu {
    min-width: 15%;
    margin: 0 10% 0 15%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1rem;

        a {
          font-size: 1.5rem;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          font-weight: 500;
        }
      }
    }
  }

  section.footer-content {
    flex-basis: 40%;
    div.footer-quote {
      margin-bottom: 4rem;

      p {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }

    div.copyright {
      margin-bottom: 2rem;

      a {
        font-size: 1.4rem;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: #CFD0C0;
      }
    }
  }
}
