nav.main-navigation {
  div.hamburger {
    position: fixed;
    z-index: 10;
    top: 4rem;
    right: 8rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    cursor: pointer;
    transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    &:before {
      position: absolute;
      display: block;
      width: 4rem;
      top: 0.8rem;
      right: -3rem;
      font-size: 2rem;
      text-align: right;
    }
    body.on-dark & {
      color: white;
    }

    @include smartphone {
      top: 1.2rem;
      right: 4.5rem;
      font-size: 1.4rem;
      &:before {
        font-size: 1.8rem;
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: -9999rem;
  z-index: 100;
  width: 100%;
  height: 100%;

  .menu-background {
    background: black;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    // transform: scale(0,0);
    transform-origin: top right 0;
  }

  // Animations
  &.activating,
  &.active {
    left: 0;

    .menu-background,
    .menu-content,
    figure.logo,
    div.close {
      opacity: 1;
    }

    figure.logo {
      left: 6rem;
    }

    div.menu-main-menu-container ul li,
    hr,
    div.menu-social,
    div.menu-contact a {
      transform: translateY(0);
    }

    div.close {
      right: 5rem;
    }

    .menu-background {
      // transform: scale(1,1);
    }
  }
  &.activating {
    .menu-background {
      transform-origin: top right 0;
    }
  }
  &.active {
    .menu-background {
      // transform-origin: top left 0;
    }
  }
  &.deactivating {
    .menu-background,
    .menu-content,
    figure.logo,
    div.close {
      transition-delay: 0s;
      transition-duration: 500ms;
      opacity: 0;
    }

    .menu-background {
      transition-duration: 250ms;
      // transform: scale(0,0);
    }
  }

  // Animations
  .menu-content                                       { transition: all 500ms 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  figure.logo                                         { transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000), transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);}
  figure.logo svg #wit                                { transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-main-menu-container ul li                  { transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-main-menu-container ul li + li             { transition-duration: 1100ms; }
  div.menu-main-menu-container ul li + li + li        { transition-duration: 1200ms; }
  div.menu-main-menu-container ul li + li + li + li   { transition-duration: 1300ms; }
  hr                                                  { transition: transform 1400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-social                                     { transition: transform 1500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-contact a                                  { transition: transform 1600ms cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 200ms ease-in-out; }
  div.menu-contact a + a                              { transition: transform 1700ms cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 200ms ease-in-out; }

  .menu-content {
    position: relative;
    z-index: 100;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-height: 75rem;
    padding: 2% 20% 4%;
    @include smartphone {
      justify-content: center;
      padding: 2% 15% 4%;
    }
  }

  figure.logo {
    margin: 0;
    z-index: 101;
    left: -999rem;
    opacity: 0;
    @include smartphone {
      transform: scale(0.5) translate(-1rem, 0rem);
    }

    svg #wit {
      fill: #ffffff;
    }
  }

  div.menu-main-menu-container {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 1.5% 0;
        transform: translateY(5rem);
        a:hover:after{
          transform: scaleX(1);
        }
        a:after {
          content: '';
          position: absolute;
          display: block;
          bottom: 0;
          height: 0.3rem;
          width: 100%;
          background: white;
          transform: scaleX(0);
          transform-origin: bottom left 0;
          transition: transform 250ms ease-out;
        }

        a {
          position: relative;
          display: inline-block;
          font-family: $heading-font-family;
          font-size: 5rem;
          color: white;
          line-height: 6rem;
          text-decoration: none;
          @include smartphone {
            font-size: 3rem;
            line-height: 4rem;
          }
        }
      }

    }
  }

  hr {
    margin: 1rem 0;
    border: 0;
    outline: 0;
    width: 10rem;
    height: 0.2rem;
    background: white;
    transform: translateY(5rem);
  }

  div.menu-social {
    margin: 2rem 0;
    transform: translateY(5rem);

    a {
      color: white;
    }
  }

  div.menu-contact {
    margin: 0;

    a {
      display: inline-block;
      margin: 1rem 0;
      color: white;
      text-decoration: none;
      font-size: 1.8rem;
      transform: translateY(5rem);
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      @include smartphone {
        font-size: 1.4rem;
      }

      &:before {
        margin-right: 2rem;
        font-size: 2rem;
        vertical-align: sub;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
