nav.main-navigation {
  div.hamburger {
    position: fixed;
    z-index: 10;
    top: 4rem;
    right: 8rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    cursor: pointer;
    -webkit-transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    &:before {
      position: absolute;
      display: block;
      width: 4rem;
      top: 0.8rem;
      right: -3rem;
      font-size: 2rem;
      text-align: right;
    }
    body.on-dark & {
      color: white;
    }

    @include smartphone {
      top: 1.2rem;
      right: 4.5rem;
      font-size: 1.4rem;
      &:before {
        font-size: 1.8rem;
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: -9999rem;
  z-index: 100;
  width: 100%;
  height: 100%;

  .menu-background {
    background: black;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: opacity 250ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: opacity 250ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: opacity 250ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  // Animations
  &.activating,
  &.active {
    left: 0;

    .menu-background,
    .menu-content,
    figure.logo,
    div.close {
      opacity: 1;
    }

    figure.logo {
      left: 5%;
    }

    div.menu-main-menu-container ul li,
    hr,
    div.menu-social,
    div.menu-contact a {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
    }

    div.close {
      right: 5rem;
    }


  }
  &.activating {
    .menu-background {
      -webkit-transform-origin: top right 0;
          -ms-transform-origin: top right 0;
              transform-origin: top right 0;
    }
  }
  &.deactivating {
    .menu-background,
    .menu-content,
    figure.logo,
    div.close {
      -webkit-transition-delay: 0s;
           -o-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-transition-duration: 500ms;
           -o-transition-duration: 500ms;
              transition-duration: 500ms;
      opacity: 0;
    }

    .menu-background {
      -webkit-transition-duration: 250ms;
           -o-transition-duration: 250ms;
              transition-duration: 250ms;
    }
  }

  // Animations
  .menu-content                                       { -webkit-transition: all 500ms 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); -o-transition: all 500ms 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: all 500ms 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  figure.logo                                         { -webkit-transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000), -webkit-transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000), -webkit-transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); -o-transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000), transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000), transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000), transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000), -webkit-transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);}
  figure.logo svg #wit                                { -webkit-transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); -o-transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-main-menu-container ul li                  { -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: -webkit-transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000); -o-transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000), -webkit-transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-main-menu-container ul li + li             { -webkit-transition-duration: 1100ms; -o-transition-duration: 1100ms; transition-duration: 1100ms; }
  div.menu-main-menu-container ul li + li + li        { -webkit-transition-duration: 1200ms; -o-transition-duration: 1200ms; transition-duration: 1200ms; }
  div.menu-main-menu-container ul li + li + li + li   { -webkit-transition-duration: 1300ms; -o-transition-duration: 1300ms; transition-duration: 1300ms; }
  hr                                                  { -webkit-transition: -webkit-transform 1400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: -webkit-transform 1400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); -o-transition: transform 1400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: transform 1400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: transform 1400ms cubic-bezier(0.645, 0.045, 0.355, 1.000), -webkit-transform 1400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-social                                     { -webkit-transition: -webkit-transform 1500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: -webkit-transform 1500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); -o-transition: transform 1500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: transform 1500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: transform 1500ms cubic-bezier(0.645, 0.045, 0.355, 1.000), -webkit-transform 1500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-contact a                                  { -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 1600ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: opacity 200ms ease-in-out, -webkit-transform 1600ms cubic-bezier(0.645, 0.045, 0.355, 1.000); -o-transition: transform 1600ms cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 200ms ease-in-out; transition: transform 1600ms cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 200ms ease-in-out; transition: transform 1600ms cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 200ms ease-in-out, -webkit-transform 1600ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }
  div.menu-contact a + a                              { -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 1700ms cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: opacity 200ms ease-in-out, -webkit-transform 1700ms cubic-bezier(0.645, 0.045, 0.355, 1.000); -o-transition: transform 1700ms cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 200ms ease-in-out; transition: transform 1700ms cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 200ms ease-in-out; transition: transform 1700ms cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 200ms ease-in-out, -webkit-transform 1700ms cubic-bezier(0.645, 0.045, 0.355, 1.000); }

  .menu-content {
    position: relative;
    z-index: 100;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    max-height: 75rem;
    padding: 2% 20% 4%;
    @include smartphone {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 2% 15% 4%;
    }
    @include smartphone-landscape {
      padding: 2% 15% 4% 30%;
    }
    @include tablet {
      padding: 2% 15% 4% 30%;
    }
  }

  figure.logo {
    margin: 0;
    z-index: 101;
    left: -999rem;
    opacity: 0;
    @include smartphone {
      -webkit-transform: scale(0.5) translate(-1rem, 0rem);
          -ms-transform: scale(0.5) translate(-1rem, 0rem);
              transform: scale(0.5) translate(-1rem, 0rem);
    }

    svg #wit {
      fill: #ffffff;
    }
  }

  div.menu-main-menu-container {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 1.5% 0;
        -webkit-transform: translateY(5rem);
            -ms-transform: translateY(5rem);
                transform: translateY(5rem);

        a {
          position: relative;
          display: inline-block;
          font-family: $heading-font-family;
          font-size: 5rem;
          color: white;
          line-height: 6rem;
          text-decoration: none;
          @include line-hover(white, 0.3rem);
          @include smartphone {
            font-size: 3rem;
            line-height: 4rem;
          }
        }
      }

    }
  }

  hr {
    margin: 1rem 0;
    border: 0;
    outline: 0;
    width: 10rem;
    height: 0.2rem;
    background: white;
    -webkit-transform: translateY(5rem);
        -ms-transform: translateY(5rem);
            transform: translateY(5rem);
    @include tablet {
      display: none;
    }
  }

  div.menu-social {
    margin: 2rem 0;
    -webkit-transform: translateY(5rem);
        -ms-transform: translateY(5rem);
            transform: translateY(5rem);
    @include tablet {
      display: none;
    }
    a {
      color: white;
    }
  }

  div.menu-contact {
    margin: 0;

    a {
      display: inline-block;
      margin: 1rem 0;
      color: white;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: normal;
      -webkit-transform: translateY(5rem);
          -ms-transform: translateY(5rem);
              transform: translateY(5rem);
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      @include smartphone {
        font-size: 1.4rem;
      }

      &:before {
        margin-right: 2rem;
        font-size: 2rem;
        vertical-align: sub;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
