section {
  &.sunlight {
    background: $sunlight;
  }
  &.peach {
    background: $peach;
  }
  &.moss {
    background: $moss;
  }
  &.snow {
    background: $snow;
  }
  &.black {
    background: black;
    color: white;
  }
}
