section.services {
  background: white;

  article.service {
    padding: 14rem 0;
    position: relative;
    @include smartphone {
      padding: 3rem 0;
      &:first-of-type {
        padding-top: 6rem;
      }
    }
    &.service-right {
      header {
        text-align: right;
        &:after {
          top: 30rem;
          left: 50%;
          right: 0;
        }
      }
      .content {
        blockquote {
          display: flex;
          justify-content: center;
          max-width: 100%;
          span {
            width: 100%;
            max-width: 44rem;
            flex-shrink: 1;
          }
          &:after {
            content: "";
            display: block;
            flex-shrink: 100;
            width: 15rem;
          }
        }
      }
    }
    &.service-left {
      header:after {
        top: 30rem;
        left: 0;
        right: 50%;
      }
      .content {
        figure {
          align-self: flex-end;
        }
      }
    }

    header {
      margin: 0 auto;
      padding: 0 3rem;
      max-width: 106rem;
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        background: $snow;
        height: 34rem;
      }

      h2,
      em {
        position: relative;
        z-index: 2;
      }

      em {
        display: block;
        margin-bottom: 6rem;
        font-family: $emphasis-font-family;
        font-size: 4rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 0 3rem;
      margin: 5rem auto;
      max-width: 96rem;

      figure {
        position: relative;
        z-index: 2;
        margin-bottom: 5rem;
        width: 100%;
        max-width: 80rem;
        @include smartphone {
          margin-bottom: 2rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      p {
        text-align: justify;
        &.call-to-action {
          margin: 1rem 0 3.5rem;
          font-weight: bold;
        }
      }

      p,
      h3,
      ul,
      blockquote {
        align-self: center;
        width: 100%;
        max-width: 47rem;
      }

      h3 {
        margin: 3rem 0 2rem;
      }
    }
  }
}
