button,
.button {
  display: inline-block;
  padding: 0.5rem 1.2rem 0.4rem;
  border: 0.1rem solid black;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: $body-font-color;
  text-decoration: none;
  letter-spacing: 0.2rem;
  &:hover,
  &:focus {
    outline: none;
  }

  span:before {
    margin: 0 1rem 0 0.3rem;
    font-size: 120%;
    vertical-align: middle;
  }
}
