html {
  font-size: 10px;
}

body {
  font-family: $body-font-family;
  font-size: 1.6rem;
  line-height: 2.7rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0 0 2.5rem;
  font-family: $heading-font-family;
  font-size: 5rem;
  font-weight: 900;
  line-height: 5.8rem;
  letter-spacing: -0.1rem;
  @include smartphone {
    font-size: 3rem;
    line-height: 3.2rem;
    margin: 0 0 1.5rem;
  }
}

h2 {
  margin: 0 0 2.5rem;
  font-family: $heading-font-family;
  font-size: 4.9rem;
  line-height: 5.8rem;
  font-weight: 900;
  letter-spacing: -0.1rem;
  @include smartphone {
    font-size: 3rem;
    line-height: 3.2rem;
    margin: 0 0 1.5rem;
  }
}

h3 {
  margin: 0 0 1.6rem;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h4 {
  margin: 0 0 1.6rem;
  font-size: 2rem;
  line-height: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h5 {
  margin: 0 0 1.6rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h6 {
  margin: 0 0 1rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
}

p {
  margin: 0 0 1.6rem;
}

span.underline {
  text-decoration: underline;
}

em {
  font-family: $emphasis-font-family;
}

