section.full-size-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  padding: 12rem 0;
  height: 100vh;
  @include smartphone {
    height: auto;
  }
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    width: 100%;
    background: black;
  }
  &.white-on-black {
    background: black;
    color: white;
  }
  &.sunlight {
    background: $sunlight;
    color: black;
  }
  &.peach {
    background: $peach;
    color: black;
  }
  &.moss {
    background: $moss;
    color: black;
  }

  h2 {
    max-width: 96rem;
    font-size: 6.3rem;
    line-height: 7.3rem;
    font-weight: 900;
    .emphasis {
      margin: 0 1.5rem 0 1rem;
      font-family: $emphasis-font-family;
      font-weight: normal;
      font-size: 9.7rem;
      line-height: 7.3rem;
      letter-spacing: -0.1rem;
    }
    @include smartphone {
      font-size: 4rem;
      line-height: 5rem;
      .emphasis {
        font-size: 6rem;
        line-height: 5rem;
      }
    }
  }
}
