figure.logo {
  display: inline-block;
  transition: opacity 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000), transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transform-origin: top left 0;
  -webkit-transform: translate3d(0,0,0);

  &:hover {
    opacity: 0.7;
  }

  a {
    display: block;

    svg {
      display: block;
    }
  }

  svg #wit {
    fill: #000000;
    transition: fill 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  body.on-dark & svg #wit {
    fill: white;
  }

  body.sticky header.main-header &,
  body.sticky .menu-overlay & {
      transform: scale(0.6) translate(-5rem, -2.5rem);
    @include smartphone {
      // -webkit-transform: translate3d(-10px,0,0);
      // // transform: scale(0.5) translate(-1rem, 0rem);
      // transition: all 2000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);

      // svg #wit {
      //   fill: red;
      //   transition: fill 2000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
      // }
    }
  }

  header.main-header &,
  .menu-overlay & {
    position: fixed;
    top: 4rem;
  }
  header.main-header & {
    z-index: 10;
    left: 6rem;

    @include smartphone {
      top: 0rem;
      left: 2rem;
      max-width: 12rem;
      transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);

      svg {
        width: 100%;
      }
    }
  }
}
