ul.plus-list {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;

    li {
      position: relative;
      margin: 1rem 0;
      padding-left: 3.2rem;
      &:before {
        content: "+";
        position: absolute;
        top: -0.2rem;
        left: 0;
        font-size: 3rem;
        line-height: inherit;
        font-weight: bold;
      }
    }
}
