section.services-overview {
  min-height: 100vh;
  @include smartphone {
    min-height: 0;
  }

  section.services-overview-introduction {
    position: relative;
    padding-top: 12rem;
    padding-bottom: 12rem;
    @include smartphone {
      padding-top: 8rem;
      padding-bottom: 4rem;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      background: $snow;
      top: 16rem;
      right: 0;
      left: 40%;
      bottom: -30%;
    }

    > div {
      position: relative;
      z-index: 2;

      p {
        max-width: 88rem;
        text-align: justify;
        @include smartphone {
          text-align: left;
        }
      }
    }
  }

  article.service-thumb {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 3rem 5rem;
    @include tablet-and-desktop {
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      padding: 0 3rem 10%;
    }
    &.digital-design {
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        display: block;
        background: $snow;
        top: 16rem;
        right: 0;
        left: 70%;
        bottom: 32%;
      }
      @include smartphone {
        &:after {
          display: none;
        }
      }
      @include tablet-and-desktop {
        .content {
          align-self: flex-start;
          margin: 0 0 2rem 6.5rem;
          order: 1;
        }
      }
    }
    &.content-social-media .content {
      max-width: 44.1rem;
    }

    .content {
      position: relative;
      z-index: 2;
      order: 1;
      @include tablet-and-desktop {
        margin: 0 6.5rem 2rem 0;
        max-width: 35rem;
        order: 0;

        h3 {
          margin-bottom: 3.5rem;
        }
      }

      p {
        text-align: justify;
        @include smartphone {
          text-align: left;
        }
      }
    }

    figure {
      position: relative;
      z-index: 1;
      margin: 0;
      padding-top: 30%;
      width: 50%;

      @include smartphone {
        margin: 3rem 0;
        width: calc(100% + 6rem);
        padding: 0;
        height: auto;
        left: -3rem;
      }

      a {
        display: block;
        &:hover img {
          opacity: 0.8;
        }
      }

      img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 100ms ease-in-out;
        @include smartphone {
          position: relative;
        }
      }
    }
  }
}
