section.services-overview {
  min-height: 100vh;
  @include smartphone {
    min-height: 0;
  }

  section.services-overview-introduction {
    position: relative;
    padding-top: 12rem;
    @include smartphone {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      background: $snow;
      top: 16rem;
      right: 0;
      left: 40%;
      bottom: -30%;
    }

    > div {
      position: relative;
      z-index: 2;

      p {
        max-width: 88rem;
        text-align: justify;
      }
    }
  }

  article.service-thumb {
    position: relative;
    margin-bottom: 5rem;
    @include tablet-and-desktop {
      display: flex;
      justify-content: center;
      min-height: 100vh;
      align-items: center;
    }
    &.digital-design {
      @include tablet-and-desktop {
        left: -5%;
        .content {
          margin: 0 0 0 6.5rem;
          order: 2;
        }
      }
    }

    .content {
      position: relative;
      z-index: 2;
      margin: 0 6.5rem 0 0;
      max-width: 35rem;

      h3 {
        margin-bottom: 3.5rem;
      }

      p {
        text-align: justify;
      }
    }

    figure {
      position: relative;
      z-index: 1;
      margin: 0;
      width: 100%;
      max-width: 58rem;
      max-height: 35rem;
      @include smartphone {
        margin: 3rem 0;
        width: calc(100% + 5rem);
        left: -2.5rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
