section.services-overview {
  min-height: 100vh;
  @include smartphone {
    min-height: 0;
  }

  section.services-overview-introduction {
    position: relative;
    padding-top: 12rem;
    padding-bottom: 12rem;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      background: $snow;
      top: 16rem;
      right: 0;
      left: 40%;
      bottom: -30%;
    }

    > div {
      position: relative;
      z-index: 2;

      p {
        text-align: justify;
      }
    }
  }

  article.service-thumb {
    display: flex;
    justify-content: center;
    padding: 5rem 0 10rem;
    @include smartphone {
      position: relative;
      overflow: hidden;
    }
    &.branding {
      .content {
        margin-top: 10rem;
        margin-left: 20%;
      }
    }
    &.digital-design {
      .content {
        margin-right: 10rem;
        order: 2;
      }

      figure {
        margin-top: 10rem;
        @include smartphone {
          left: 60%;
        }
      }
    }
    &.content-social-media {
      .content {
        max-width: 44rem;
      }
    }

    .content {
      position: relative;
      z-index: 2;
      margin: 0 2rem 0;
      max-width: 35rem;

      h3 {
        margin-bottom: 3.5rem;
      }

      p {
        text-align: justify;
      }
    }

    figure {
      position: relative;
      z-index: 1;
      margin: 0 2rem 0;
      width: 100%;
      max-width: 53rem;
      min-height: 38rem;
      background: $snow;
      @include smartphone {
        position: absolute;
      }
    }
  }
}
