.single-post-navigation.nav-on-top {
  a {
    font-weight: normal;
    line-height: 2rem;
    text-decoration: none;
    font-size: 1.3rem;
    span.arrow {
      display: inline-block;
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      background: url('images/arrow-right.svg') bottom left no-repeat;
      &.arrow-left {
        transform: scaleX(-1);
      }
    }
  }
}

.single-post-navigation.nav-below {
  display: flex;
  flex-wrap: wrap;
  padding: 10rem 0;
  background: black;
  color: white;

  > div {
    flex-grow: 1;
    flex-basis: 50%;
    text-align: center;

    h3 {
      margin: 0;
    }

    a {
      color: white;
      @include line-hover(white, 0.3rem);
    }
  }
}
