div.menu-social {
  position: relative;

  a {
    margin-right: 1.6rem;
    font-size: 2.3rem;
    line-height: 2rem;
    text-decoration: none;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    color: black;
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
    &.icon-facebook {
      font-size: 1.7rem;
      vertical-align: text-bottom;
    }
  }
}
