.values {
  padding: 14rem 0;
  @include smartphone {
    padding: 5rem 0;
  }
  .page-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include smartphone {
      display: block;
    }

    > figure {
      display: none;
      flex-grow: 1;
      min-width: 30rem;
      min-height: 30rem;
      background: desaturate(darken($sunlight,10), 0.15);
    }

    > blockquote {
      display: flex;
      align-items: center;
      flex-grow: 1;
      @include smartphone {
        margin-bottom: 4rem;
      }
      @include tablet-and-desktop {
        width: 40%;
        margin: 0 2.5%;
      }
    }

    .value-list {
      margin: 2rem 0;
      flex-grow: 1;
      @include tablet-and-desktop {
        margin: 0 2.5%;
        width: 40%;
      }
      ul {
        li {
          border-color: $body-font-color;
          &:first-child {
            border-top: 0.1rem solid $body-font-color;
          }
        }
      }
    }
  }
}
